[Unit]
Description=Gunicorn server for DOMAIN 

[Service]
Restart=on-failure
User=ubuntu
WorkingDirectory=/home/ubuntu/sites/DOMAIN
EnvironmentFile=/home/ubuntu/sites/DOMAIN/.env

ExecStart=/home/ubuntu/sites/DOMAIN/gunicorn_start.sh

[Install]
WantedBy=multi-user.target
