[Unit]
Description=Gunicorn server for <DOMAIN> 

[Service]
Restart=on-failure
User=<USERNAME>
WorkingDirectory=<PATH/TO/DJANGO/ROOT>
EnvironmentFile=<PATH/TO/DJANGO/ROOT>/.env

ExecStart=<PATH/TO/DJANGO/ROOT>/gunicorn_start.sh

[Install]
WantedBy=multi-user.target
